body {
  font-family: "Poppins";
  background-color: #283149;
  font-size: 15px;
}

.main {
  color: white;
}

.active {
  border-bottom: 1px solid black;
}

.nav-item:hover {
  border-bottom: 1px solid black;
}


.nav-item {
  margin: 0px 10px;
}

#home {
  scroll-margin-top: 65px;
  padding-top: 65px;
  /* background-color: #4a5266; */
  background-image: url("../assets/images/top.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#about {
  scroll-margin-top: 65px;
}

#projects {
  scroll-margin-top: 65px;
  background-color: #4a5266;
}

#certificates {
  scroll-margin-top: 65px;
}

.card {
  /* box-shadow: 0 1rem 3rem rgba(#000, 0.175); */
  /* box-shadow: none; */

  background-color: transparent;
  /* border-color: #4a5266; */
  border: none;

}


.techstack{
  width: 75px;
  margin: auto;
  vertical-align: middle;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}