body {
  font-family: "Poppins";
  background-color: #283149;
}

.main {
  color: white;
}

.active {
  border-bottom: 1px solid black;
}

.nav-item {
  margin: 0px 10px;
}

#home {
  scroll-margin-top: 65px;
  padding-top: 65px;
  background-color: #4a5266;
}

#about {
  scroll-margin-top: 65px;
}

#projects {
  scroll-margin-top: 65px;
  background-color: #4a5266;
}

#certificates {
  scroll-margin-top: 65px;
}
